
.square {
    margin-top: 100px;
    height: 296px;
    width: 555px;
     margin-left: 200px;
    width: 555px;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: inline-block;
}
.squaree {
    margin-top: 100px;
height: 296px;
width: 555px;

margin-left: 30px;
background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
display: inline-block;
}
.get {
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #F4F9FC;
    opacity: 0.6;
}
.hdr {
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 40px;
    color: #F4F9FC;
}
.show {
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #F4F9FC;
}
@font-face {
    font-family: "Hind Siliguri"; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Hind Siliguri"; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Hind Siliguri"; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Hind Siliguri"; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "Hind Siliguri"; 
    src: url("../fonts/Hind_Siliguri/HindSiliguri-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}